<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/home.css">

    <title>Dashboard</title>

</head>

<body class="bg-light">
    <section>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top header-top ">
            <div class="container">
                <a class="navbar-brand text-white" href="#"><img src="img/jodi.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto text-white">
                        <li class="nav-item active">
                            <a class="nav-link text-white" href="home">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="matches">My Matches</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="search">Search</a>
                        </li>
                    </ul>
                    <span class="navbar-text">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link text-white" href="profile">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="setting">Settings</a>
                            </li>
                        </ul>
                    </span>
                </div>
            </div>
        </nav>
    </section>




    <section>
        <div class="container mt-5 mh-100">
            <div class="row">
                {{!-- profile column --}}
                <div class="d-flex col-md-3">
                    <div class="card">
                        {{!-- <div class="img-holder px-2 p-2"> --}}
                        {{!-- <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/robert.jpg"
                                class="card-img-top rounded-circle image" alt="Profile Page">
                            <div class="middle">
                                <input type="file" name="" id="">
                                <button><i class="fa fa-camera"></i></button>
                                <div>Upload image</div>
                            </div> --}}

                        <form id="uploadForm" enctype="multipart/form-data" action="/photoupload" method="post">

                            <div class="avatar-upload">
                                <div class="avatar-edit">
                                    <form id="profilepic" enctype="multipart/form-data" action="">

                                        <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                                    </form>
                                    <label for="imageUpload"></label>
                                </div>
                                <div class="avatar-preview">
                                    <div id="imagePreview"
                                        style="background-image: url({{user.Profile.Profile1.photo}});">
                                    </div>
                                </div>
                            </div>
                        </form>
                        {{!-- </div> --}}
                        <div class="card-body">
                            <hr>
                            <h5 class="card-title text-capitalize">{{user.Profile.Profile1.name.firstname}}
                                {{#if user.Profile.Profile1.name.middlename}}
                                {{user.Profile.Profile1.name.middlename}}
                                {{/if}}
                                {{user.Profile.Profile1.name.lastname}}</h5>
                            <p class="card-text text-center">Profile completion: <mark>80
                                    %</mark>
                            </p>
                            <hr>
                            {{!-- <div class="row ">
                                <a href="#" class="btn btn-info mx-auto">Upload More Photos</a>
                            </div> --}}

                        </div>
                    </div>
                </div>
                {{!-- requests row --}}
                <div class="col-md-6">
                    <h6>Your Activity</h6>
                    <ul class="d-flex nav justify-content-between pb-3 flex-nowrap">
                        <li class="nav-item text-nowrap">
                            <a href="" data-target="#acceptedReqs" data-toggle="tab"
                                class="btn btn-success active">Accepted Requests<span id="accepted"
                                    class="badge badge-pill badge-danger">{{user.Matches.acceptedrequests.length}}</span></a>
                        </li>
                        <li class="nav-item text-nowrap">
                            <a href="" data-target="#recievedReqs" data-toggle="tab" class="btn btn-primary">Recieved
                                Requests<span id="received"
                                    class="badge badge-pill  badge-danger">{{user.Matches.receivedrequests.length}}</span></a>
                        </li>
                        <li class="nav-item text-nowrap">
                            <a href="" data-target="#rejectedReqs" data-toggle="tab" class="btn btn-secondary">Sent
                                Requests<span id="sentreqs"
                                    class="badge badge-pill badge-danger">{{user.Matches.sentrequests.length}}</span></a>
                        </li>
                    </ul>
                    <div class="tab-content ">
                        <div class="tab-pane active border bg-white" id="acceptedReqs">
                            {{#each acceptedrequests}}
                            <div class="row no-gutters align-items-center">
                                <div class="col-md-2">
                                    <a class="text-decoration-none text-dark" href="matchprofile?id={{_id}}">
                                        <img src="{{Profile.Profile1.photo}}"
                                            class="card-img-top matches-photo rounded-circle p-3" alt="Profile Page">
                                    </a>
                                </div>
                                <div class="col-md-8">
                                    <a class="text-decoration-none text-dark" href="matchprofile?id={{_id}}">
                                        <div class="card-body">
                                            <h6 class="card-title">{{Profile.Profile1.name.firstname}}
                                                {{Profile.Profile1.name.lastname}}</h6>
                                            <p class="card-text">{{Profile.Profile2.age}},
                                                {{Profile.Profile2.height}},{{Profile.Profile2.mothertongue}},
                                                {{Profile.Profile1.location.city}}
                                            </p>
                                            <p class="card-text">
                                                <small class="text-muted">Last online 3 mins ago</small>
                                            </p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-2 ">
                                    <div class="d-inline-flex flex-column">
                                        <input type="hidden" value="{{_id}}">
                                        <a class="btn-sm btn-danger text-white unmatch ">Unmatch</a>
                                        <a class="btn-sm my-2 btn-secondary text-white messageuser ">Message</a></div>
                                </div>

                                <hr>
                            </div>
                            {{/each}}

                            <!--/row-->
                        </div>
                        <div class="tab-pane border bg-white" id="recievedReqs">
                            {{#each receivedrequests}}
                            <div class="row no-gutters align-items-center">
                                <div class="col-md-2">
                                    <a class="text-decoration-none text-dark" href="matchprofile?id={{_id}}">
                                        <img src="{{Profile.Profile1.photo}}" class="card-img-top rounded-circle p-3"
                                            alt="Profile Page">
                                    </a>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <a class="text-decoration-none text-dark" href="matchprofile?id={{_id}}">

                                            <h6 class="card-title">{{Profile.Profile1.name.firstname}}
                                                {{Profile.Profile1.name.lastname}}</h6>
                                            <p class="card-text">{{Profile.Profile2.age}},
                                                {{Profile.Profile2.height}},{{Profile.Profile2.mothertongue}},
                                                {{Profile.Profile1.location.city}}</p>
                                            <p class="card-text">
                                                <small class="text-muted">Last online 3 mins ago</small>
                                            </p>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <input type="hidden" value="{{_id}}">
                                    <a class="btn btn-success text-white acceptreq my-2">Accept</a>
                                    <a class="btn deletereceived text-white btn-danger">Delete</a>
                                </div>

                                <hr>
                            </div>

                            {{/each}}
                        </div>
                        <div class="tab-pane border bg-white" id="rejectedReqs">
                            {{#each sentrequests}}
                            <div class="row no-gutters align-items-center">

                                <div class="col-md-2 matchpage">
                                    <a class="text-decoration-none text-dark" href="matchprofile?id={{_id}}">
                                        <img src="{{Profile.Profile1.photo}}" class="card-img-top rounded-circle p-3"
                                            alt="Profile Page">
                                    </a>
                                </div>
                                <div class="col-md-7 matchpage">
                                    <a class="text-decoration-none text-dark" href="matchprofile?id={{_id}}">
                                        <div class="card-body">
                                            <h6 class="card-title">{{Profile.Profile1.name.firstname}}
                                                {{Profile.Profile1.name.lastname}}</h6>
                                            <p class="card-text">{{Profile.Profile2.age}},
                                                {{Profile.Profile2.height}},{{Profile.Profile2.mothertongue}},
                                                {{Profile.Profile1.location.city}}</p>
                                            <p class="card-text">
                                                <small class="text-muted">Last online 3 mins ago</small>
                                            </p>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <input type="hidden" value="{{_id}}">
                                    <a class="btn deletesent text-white btn-danger">Delete</a>
                                </div>
                                <hr>
                            </div>

                            {{/each}}
                        </div>
                    </div>
                </div>
                <div class="col-md-3 bg-white border rounded">
                    <div class="row p-3">
                        <h6 class="text-danger">Notifications
                            <span class="badge badge-pill badge-danger" id="notifs">{{notifications.length}}</span>
                        </h6>
                        {{#each notifications}}
                        <div class="alert alert-success alert-dismissable">
                            <a class="panel-close close" data-dismiss="alert">×</a>
                            {{this}}
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </section>




    <section>
        <div class="container my-5 ">
            <div class="row mx-auto">
                {{!-- premium matches --}}
                <div class="col-md-6">
                    <h6>New Matches for you<span class="badge badge-pill badge-danger">{{agematches.length}}</span></h6>
                    {{#each agematches}}
                    <div class="row no-gutters align-items-center bg-white border">
                        <div class="col-md-2">
                            <a class="text-decoration-none text-dark" href="matchprofile?id={{_id}}">
                                <img src="{{Profile.Profile1.photo}}" class="card-img-top rounded-circle p-3"
                                    alt="Profile Page">
                            </a>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <a class="text-decoration-none text-dark" href="matchprofile?id={{_id}}">
                                    <h6 class="card-title">{{Profile.Profile1.name.firstname}}
                                        {{Profile.Profile1.name.lastname}}</h6>
                                    <p class="card-text">{{Profile.Profile2.age}},
                                        {{Profile.Profile2.height}},{{Profile.Profile2.mothertongue}},
                                        {{Profile.Profile1.location.city}}</p>
                                    <p class="card-text">
                                        <small class="text-muted">Last online 3 mins ago</small>
                                    </p>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-2 justify-content-around d-flex">
                            <input type="hidden" value="{{_id}}">

                            <i class="fa fa-check text-success"></i>
                            <i class="fa fa-times text-danger"></i>
                        </div>
                    </div>
                    {{/each}}

                </div>
                {{!-- new matches --}}
                <div class="col-md-6">
                    <h6>Recently Created<span class="badge badge-pill badge-danger">{{age2matches.length}}</span></h6>
                    {{#each age2matches}}
                    <div class="row no-gutters align-items-center bg-white border">
                        <div class="col-md-2">
                            <a class="text-decoration-none text-dark" href="matchprofile?id={{_id}}">
                                <img src="{{Profile.Profile1.photo}}" class="card-img-top rounded-circle p-3"
                                    alt="Profile Page">
                            </a>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <a class="text-decoration-none text-dark" href="matchprofile?id={{_id}}">
                                    <h6 class="card-title">{{Profile.Profile1.name.firstname}}
                                        {{Profile.Profile1.name.lastname}}</h6>
                                    <p class="card-text">{{Profile.Profile2.age}},
                                        {{Profile.Profile2.height}},{{Profile.Profile2.mothertongue}},
                                        {{Profile.Profile1.location.city}}</p>
                                    <p class="card-text">
                                        <small class="text-muted">Last online 3 mins ago</small>
                                    </p>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-2 justify-content-around d-flex">
                            <input type="hidden" value="{{_id}}">
                            <a><i class="fa fa-check text-success"></i></a>
                            <a><i class="fa fa-times text-danger"></i></a>
                        </div>
                    </div>
                    {{/each}}


                </div>
            </div>
    </section>

    <section>
        {{!-- chat --}}
        <div class="shadow mr-3  rounded chatbox">

            <h6 class="text-center chatheading">
                Chat <i class="fa fa-window-minimize " id="minimize"></i>
            </h6>
            <ul class="list-group">
                {{#each acceptedrequests}}

                <li class="list-group-item list-group-item-action openchat"><input type="hidden" value="{{_id}}">
                    <div class="chatpic float-left mr-2 " style="background-image: url({{Profile.Profile1.photo}});">
                    </div>
                    <h6 class="text-truncate mt-1">

                    {{Profile.Profile1.name.firstname}}
                    {{Profile.Profile1.name.lastname}} <span class="badge badge-danger"></span>
                    </h6>
                </li>
                
                {{/each}}
            </ul>
        </div>
    </section>
</body>



{{!-- bootstrap scripts --}}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>

<script src="../js/home.js"></script>

</html>