<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/matching.css">
    <title>Dashboard</title>

</head>

<body class="bg-light">
    <section>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top header-top ">
            <div class="container">
                <a class="navbar-brand text-white" href="#"><img src="img/jodi.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto text-white">
                        <li class="nav-item active">
                            <a class="nav-link text-white" href="home">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="matches">My Matches</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="search">Search</a>
                        </li>
                    </ul>
                    <span class="navbar-text">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link text-white" href="../profile">Profile</a>
                            </li>
                        </ul>
                    </span>
                </div>
            </div>
        </nav>
    </section>


    <section>

        <div class="container">
            <div class="row mt-5">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body text-center">
                            <img class="avatar rounded-circle" src="{{match.Profile.Profile1.photo}}" alt="Bologna">
                            <h4 class="card-title mt-4">{{match.Profile.Profile1.name.firstname}}
                                {{match.Profile.Profile1.name.lastname}},{{match.Profile.Profile2.age}}</h4>
                            <h6 class="card-subtitle mb-2 text-muted">
                                {{match.Profile.Profile1.location.city}},{{match.Profile.Profile1.location.country}}
                            </h6>
                            <p class="card-text">{{match.Profile.Profile3.AboutYourself}} </p>
                            {{#if isMatched}}
                            <a class="btn btn-outline-dark ">Message</a>
                            {{else}}
                            {{#if sent}}
                            <a class="btn btn-success  text-white">Sent</a>

                            {{else}}
                            <a class="btn btn-wine connect text-white">Connect</a>
                            {{/if}}

                            {{/if}}

                        </div>
                        <hr class="ml-3 mr-3 main">
                        <div class="col-md-12">
                            <div class="row mx-3">
                                <h6>Contact Details</h6>
                            </div>
                            <div class="row mt-4 mx-3">
                                <div class="col-md-1">
                                    <label for="number"><i class="fa fa-phone"></i> :</label>
                                </div>
                                {{#if isMatched}}
                                <div class="col md-3">
                                    <p>{{match.Signup.mobile}}</p>
                                </div>
                                <div class="col-md-1">
                                    <label for="number"><i class="fa fa-envelope"></i> :</label>
                                </div>
                                <div class="col md-3">
                                    <p>{{match.Signup.email}}</p>
                                </div>

                                {{else}}
                                <div class="col md-3">
                                    <p>98XXXXXXXX</p>
                                </div>
                                <div class="col-md-1">
                                    <label for="number"><i class="fa fa-envelope"></i> :</label>
                                </div>
                                <div class="col md-3">
                                    <p>XXXXXXX@gmail.com</p>
                                </div>
                                <div class="col"><span class="btn btn-wine mb-4 text-white">Connect for details</span>
                                </div>
                                {{/if}}
                            </div>
                        </div>
                        <hr class="ml-3 mr-3 main">

                        <div class="row mx-2">
                            <div class="col-md-4">
                                <div class="row ">
                                    <h6 class=""><span class="ml-4"><span class="ml-3">Lifestyle</span></span></h6>
                                </div>
                                <div class="row mx-3 mt-2 ">
                                    <div class="col-md-3">
                                        <label for="number">Smoking: </label>
                                    </div>
                                    <div class="col-md-3">
                                        <p>{{match.Profile.Profile3.smoking}}</p>
                                    </div>
                                </div>
                                <div class="row mx-3">
                                    <div class="col-md-3">
                                        <label for="number">Drinking: </label>
                                    </div>
                                    <div class="col ">
                                        <p>{{match.Profile.Profile3.drinking}}</p>
                                    </div>
                                </div>
                                <div class="row mx-3 ">
                                    <div class="col-md-3">
                                        <label for="number">Diet: </label>
                                    </div>
                                    <div class="col md-3">
                                        <p>{{match.Profile.Profile2.diet}}</p>
                                    </div>
                                </div>
                                <div class="row mx-3 ">
                                    <div class="col-md-3">
                                        <label for="number"> Values: </label>
                                    </div>
                                    <div class="col  md-3">
                                        <p>{{match.Profile.Profile3.personalvalues}}</p>
                                    </div>
                                </div>
                                <div class="row mx-3 ">
                                    <div class="col-md-3">
                                        <label for="number"> Movies: </label>
                                    </div>
                                    <div class="col  md-3">
                                        <p>{{match.Profile.Profile3.preferredmovies}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mx-3">
                                    <h6><span class="ml-2">Background</span></h6>
                                </div>
                                <div class="row mx-3 mt-2 ">
                                    <div class="col-md-3">
                                        <label for="number">Religion: </label>
                                    </div>
                                    <div class="col md-3">
                                        <p>{{match.Profile.Profile2.religion}}</p>
                                    </div>
                                </div>
                                <div class="row mx-3">
                                    <div class="col-md-3">
                                        <label for="number">Caste: </label>
                                    </div>
                                    <div class="col md-3">
                                        <p>{{match.Profile.Profile2.caste}}</p>
                                    </div>
                                </div>
                                <div class="row mx-3">
                                    <div class="col-md-3">
                                        <label for="number">Education: </label>
                                    </div>
                                    <div class="col md-3">
                                        <p>{{match.Profile.Profile3.education.educationlevel}}</p>
                                    </div>
                                </div>
                                {{#if match.Profile.Profile3.education.isEmployed}}
                                <div class="row mx-3">
                                    <div class="col-md-3">
                                        <label for="number">Working at: </label>
                                    </div>
                                    <div class="col md-3">
                                        <p>{{match.Profile.Profile3.education.employer}}</p>
                                    </div>
                                </div>
                                <div class="row mx-3">
                                    <div class="col-md-3">
                                        <label for="number">Salary: </label>
                                    </div>
                                    <div class="col md-3">
                                        <p>{{match.Profile.Profile3.education.salary}} LPA</p>
                                    </div>
                                </div>
                                {{/if}}
                            </div>
                        </div>
                        <hr class="ml-3 mr-3 main">
                        <div class="col-md-12">
                            <div class="row mx-3">
                                <h6>Matching Preferences</h6>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row mx-4 justify-content-around">
                                <div class="col-md-3">
                                    <img src="{{match.Profile.Profile1.photo}}"
                                        class="card-img-top rounded-circle image" alt="Profile Page">
                                </div>
                                <div class="col-md-3">
                                    <img src="{{user.Profile.Profile1.photo}}" class="card-img-top rounded-circle image"
                                        alt="Profile Page">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="row mx-3 justify-content-around mt-4">
                                <p class="font-weight-bold mr-4">{{match.Profile.Profile1.name.firstname}}'s Preferences</p>
                                <p class="font-weight-bold mr-4">You Match</p>
                            </div>
                        </div>



                        {{#each matchingpref}}

                        <div class="col-md-9 mt-3 offset-md-2 ">
                            <div class="row mx-3 ">
                                <div class="col-md-9">
                                    <label class="text-capitalize" for="age">{{@key}}: {{this}}</label>
                                    
                                </div>
                                <div class="col">
                                    <p><i class="fa fa-check-circle" style="color: green;"></i></p>
                                </div>
                            </div>
                        </div>
                        {{/each}}

                        {{!-- 
                        <div class="col-md-12">
                            <div class="row mx-3 justify-content-around text-center">
                                <div class="col">
                                    <label for="age">Height</label>
                                    <p>>198cm</p>
                                </div>
                                <div class="col">
                                    <p><i class="fa fa-check-circle" style="color: green;"></i></p>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-12">
                            <div class="row mx-3 justify-content-around text-center">
                                <div class="col">
                                    <label for="age">Maritial Status</label>
                                    <p>Never Married</p>
                                </div>
                                <div class="col">
                                    <p>
                                        <i class="fa fa-check-circle" style="color: green;"></i>
                                    </p>
                                </div>
                            </div>
                        </div>




                        <div class="col-md-12">
                            <div class="row mx-3 justify-content-around text-center">
                                <div class="col">
                                    <label for="age">Religion</label>
                                    <p>Christian</p>
                                </div>
                                <div class="col">
                                    <p>
                                        <i class="fa fa-check-circle" style="color: green;"></i>
                                    </p>
                                </div>
                            </div>
                        </div>



                        <div class="col-md-12">
                            <div class="row mx-3 justify-content-around text-center">
                                <div class="col">
                                    <label for="age">Mother Tongue</label>
                                    <p>English</p>
                                </div>
                                <div class="col">
                                    <p>
                                        <i class="fa fa-check-circle" style="color: green;"></i>
                                    </p>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-12">
                            <div class="row mx-3 justify-content-around text-center">
                                <div class="col">
                                    <label for="age">Country</label>
                                    <p>India</p>
                                </div>
                                <div class="col">
                                    <p>
                                        <i class="fa fa-check-circle" style="color: green;"></i>
                                    </p>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-12">
                            <div class="row mx-3 justify-content-around text-center">
                                <div class="col">
                                    <label for="age">Annual Income</label>
                                    <p>1mn $</p>
                                </div>
                                <div class="col">
                                    <p>
                                        <i class="fa fa-check-circle" style="color: green;"></i>
                                    </p>
                                </div>
                            </div>
                        </div>

                        --}}
                    </div>


                </div>
            </div>
        </div>
        </div>
    </section>
</body>



{{!-- bootstrap scripts --}}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<script src="../js/profile.js"></script>

</html>