<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/profile.css">
    <title>Profile</title>
</head>

<body class="bg-light">
    <div class="container-fluid">
        <section>
            <nav class="navbar navbar-expand-lg navbar-light fixed-top header-top ">
                <div class="container">
                    <a class="navbar-brand text-white" href="#"><img src="img/jodi.png"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav mr-auto text-white">
                            <li class="nav-item active">
                                <a class="nav-link text-white" href="home">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="home">My Matches</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="search">Search</a>
                            </li>
                        </ul>
                        <span class="navbar-text">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="profile">Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="setting">Settings</a>
                                </li>
                            </ul>
                        </span>
                    </div>
                </div>
            </nav>
        </section>


        <div class="container">
            <div class="row my-4 rounded border bg-white">
                <div class="col-md-5  m-4">
                    <img class="avatar rounded-circle" src="{{result.Profile.Profile1.photo}}"
                        style="width:300px; height:400px">
                </div>
                <div class="col-md-4 ml-5">
                    <div class="row">
                        <h5 class="mt-5">
                            {{result.Profile.Profile1.name.firstname}}&nbsp;{{result.Profile.Profile1.name.middlename}}&nbsp;{{result.Profile.Profile1.name.lastname}}
                            <hr>
                        </h5>
                    </div>
                    <div class="row">
                        <label>About me:</label>
                        <p>{{result.Profile.Profile3.AboutYourself}}</p>
                    </div>
                    <div class="row">
                        <a href="#" class="fa fa-facebook social"></a>
                        <a href="#" class="fa fa-twitter social"></a>
                        <a href="#" class="fa fa-google social"></a>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 order-lg-2">
                            <ul class="nav nav-tabs mb-2">
                                <li class="nav-item ">
                                    <a href="" data-target="#profile" data-toggle="tab"
                                        class="nav-link active">Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a href="" data-target="#partnerPreference" data-toggle="tab" class="nav-link">
                                        Partner
                                        Preference</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="confirm-update" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel"></h4>
                        </div>

                        <div class="modal-body">
                            <p>You are about to update your Account,this procedure is irreversible.
                            </p>
                            <p>Do you want to proceed?</p>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <a class="btn btn-info btn-ok">Update</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-content py-4 bg-white border">
                {{!-- profile --}}
                <div class="tab-pane active" id="profile">
                    <div class="col-md-12">
                        <form action="/updatePi" method="POST">
                            <i style="font-size:24px" class="fa edit float-right mr-5">&#xf044;</i>

                            <div class="row">
                                <h6 class="mt-2 pl-3 pr-3">Personal Information
                                    <hr>
                                </h6>
                            </div>
                            <div class="row">
                                <div class="col-md-6 flex-nowrap">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Age:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="text-nowrap"><input class="disabled" type="text" name="age"
                                                    value="{{result.Profile.Profile2.age}}" required></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label class="text-nowrap">Date of Birth:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="text-nowrap"><input class="disabled" type="text" name="dob"
                                                    value="{{result.Profile.Profile2.dob.day}}/{{result.Profile.Profile2.dob.month}}/{{result.Profile.Profile2.dob.year}}"
                                                    required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label class="text-nowrap">Maritial Status:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="text-nowrap"><input class="disabled" type="text"
                                                    name="maritialstatus"
                                                    value="{{result.Profile.Profile2.maritialstatus}}" required></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Height:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="text-nowrap"><input class="disabled" type="text" name="height"
                                                    value="{{result.Profile.Profile2.height}}" required></div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <label class="text-nowrap">Posted by:</label>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="text-nowrap"><input type="text" class="disabled"
                                                    value="{{result.Signup.createdBy}}" required></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 flex-nowrap">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label class="text-nowrap">Mother Tongue:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="text-nowrap"><input class="disabled" type="text"
                                                    name="mothertongue" value="{{result.Profile.Profile2.mothertongue}}"
                                                    required></div>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-md-5">
                                            <label>City:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <div contenteditable="true" class="text-nowrap"><input class="disabled"
                                                    type="text" name="city"
                                                    value="{{result.Profile.Profile1.location.city}}" required></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label class="text-nowrap">Location:</label>
                                        </div>
                                        <div class="col-md-7 ">
                                            <div class="text-nowrap"><input class="disabled" type="text" name="country"
                                                    value="{{result.Profile.Profile1.location.country}}" required></div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label class="text-nowrap">Body Weight:</label>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="text-nowrap"><input class="disabled" type="text" name="weight"
                                                    value="{{result.Profile.Profile2.weight}}" required></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{!-- basic Information --}}
                            <div class="col-md-12">

                                <div class="row">
                                    <h6 class="mt-2"> Basics &amp; Lifestyle
                                        <hr>
                                    </h6>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 flex-nowrap">
                                        <div class="row ">
                                            <div class="col-md-4">
                                                <label>Diet:</label>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="text-nowrap"><input class="disabled" type="text" name="diet"
                                                        value="{{result.Profile.Profile2.diet}}" required></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label class="text-nowrap">Sun Sign:</label>
                                            </div>
                                            <div class="col-md-7">
                                                {{#if result.Profile.Profile3.sunshine}}
                                                <div class="text-nowrap"><input class="disabled" type="text"
                                                        name="sunshine" value="{{result.Profile.Profile3.sunshine}}">
                                                </div>
                                                {{else}}
                                                <div class="text-nowrap"><input class="disabled" type="text"
                                                        name="sunshine" value="Update"></div>
                                                {{/if}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label class="text-nowrap">Personal Values:</label>
                                            </div>
                                            <div class="col-md-7 ">
                                                {{#if result.Profile.Profile3.personalvalues}}
                                                <div class="text-nowrap"><input class="disabled" type="text"
                                                        name="personalvalues"
                                                        value="{{result.Profile.Profile3.personalvalues}}"></div>
                                                {{else}}
                                                <div class="text-nowrap"><input class="disabled" type="text"
                                                        name="personalvalues" value="enter here"></div>
                                                {{/if}}
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <label class="text-nowrap">Grew Up in:</label>
                                            </div>
                                            <div class="col-md-7 ">
                                                <div class="text-nowrap"><input class="disabled" type="text"
                                                        name="grewup"
                                                        value="{{result.Profile.Profile1.location.country}}" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 flex-nowrap">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <label class="text-nowrap">Blood Group:</label>
                                            </div>
                                            <div class="col-md-7">
                                                {{#if result.Profile.Profile3.bloodgroup}}
                                                <div class="text-nowrap"><input class="disabled" name="bloodgroup"
                                                        type="text" value="{{result.Profile.Profile3.bloodgroup}}">
                                                </div>
                                                {{else}}
                                                <div class="text-nowrap"><input class="disabled" name="bloodgroup"
                                                        type="text" value="Update"></div>
                                                {{/if}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <label class="text-nowrap">Health Information:</label>
                                            </div>
                                            <div class="col-md-7">
                                                {{#if result.Profile.Profile3.healthinfo}}
                                                <div class="text-nowrap"><input class="disabled" type="text"
                                                        name="healthinfo"
                                                        value="{{result.Profile.Profile3.healthinfo}}"></div>
                                                {{else}}
                                                <div class="text-nowrap"><input class="disabled" type="text"
                                                        name="healthinfo" value="update"></div>
                                                {{/if}}

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <label class="text-nowrap">Disability:</label>
                                            </div>
                                            <div class="col-md-7">
                                                {{#if result.Profile.Profile3.disability}}
                                                <div><input class="disabled" type="text" name="disability"
                                                        value="{{result.Profile.Profile3.disability}}"> </div>
                                                {{else}}
                                                <div><input class="disabled" type="text" name="disability"
                                                        value="Not specified"> </div>
                                                {{/if}}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <label class="text-nowrap">Fluent in:</label>
                                            </div>
                                            <div class="col-md-7">
                                                <div>
                                                    {{#if result.Profile.Profile3.fluent}}
                                                    <div><input class="disabled" type="text" name="fluent"
                                                            value="{{result.Profile.Profile3.fluent}}"></div>
                                                    {{else}}
                                                    <div><input class="disabled" type="text" name="fluent"
                                                            value="Update"></div>
                                                    {{/if}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{!-- Religious Background --}}
                            <div class="col-md-12">

                                <div class=" row ">
                                    <h6 class="mt-2 "> Religious Background
                                        <hr>
                                    </h6>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 flex-nowrap">
                                        <div class="row ">
                                            <div class="col-md-4">
                                                <label>Religion:</label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="text-nowrap"><input class="disabled" type="text"
                                                        name="religion" value="{{result.Profile.Profile2.religion}}"
                                                        required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label class="text-nowrap">Caste:</label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="text-nowrap"><input class="disabled" type="text"
                                                        name="caste" value="{{result.Profile.Profile2.caste}}" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label class="text-nowrap">Sub caste:</label>
                                            </div>
                                            <div class="col-md-8">
                                                {{#if result.Profile.Profile3.subcaste }}
                                                <div class="text-nowrap"><input class="disabled" type="text"
                                                        name="subcaste" value="{{result.Profile.Profile3.subcaste}}">
                                                </div>
                                                {{else}}
                                                <div class="text-nowrap"><input class="disabled" type="text"
                                                        name="subcaste" value="Not Specified">
                                                </div>
                                                {{/if}}

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label class="text-nowrap">Gothra:</label>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="text-nowrap">
                                                    {{#if result.Profile.Profile3.gothra}}
                                                    <input class="disabled" type="text" name="gothra"
                                                        value="{{result.Profile.Profile3.gothra}}">
                                                    {{else}}
                                                    <input class="disabled" type="text" name="gothra"
                                                        value="Not Specified">
                                                    {{/if}}
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6 flex-nowrap">
                                        <div class="row ">
                                            <div class="col-md-5">
                                                <label>Rashi:</label>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="text-nowrap">
                                                    {{#if result.Profile.profile3.rashi}}
                                                    <input class="disabled" type="text" name="rashi"
                                                        value="{{result.Profile.profile3.rashi}}">
                                                    {{else}}
                                                    <input class="disabled" type="text" name="rashi"
                                                        value="Not Specified">
                                                    {{/if}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <label class="text-nowrap">Manglik :</label>
                                            </div>
                                            <div class="col-md-7 ">
                                                <div class="text-nowrap">
                                                    {{#if result.Profile.Profile3.manglik}}
                                                    <input class="disabled" name="manglik" type="text"
                                                        value="{{result.Profile.Profile3.manglik}}">
                                                    {{else}}
                                                    <input class="disabled" name="manglik" type="text"
                                                        value="Will tell you later">
                                                    {{/if}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5">
                                                <label class="text-nowrap">City of Birth:</label>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="text-nowrap">
                                                    {{#if result.Profile.Profile3.birthcity}}
                                                    <input class="disabled" type="text" name="birthcity"
                                                        value="{{result.Profile.Profile3.birthcity}}">
                                                    {{else}}
                                                    <input class="disabled" type="text" name="birthcity"
                                                        value="Not spacified">
                                                    {{/if}}

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    {{!-- family-details  --}}
                    <div class="col-md-12">

                        <div class=" row ">
                            <h6 class="mt-2 pl-3"> Family details
                                <hr>
                            </h6>
                        </div>
                        <div class="row">
                            <div class="col-md-6 flex-nowrap">
                                <div class="row ">
                                    <div class="col-md-4">
                                        <label class="text-nowrap">Father's Status:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div>
                                            {{#if result.Profile.Profile3.fatherstatus}}
                                            <input class="disabled" type="text" name="fatherstatus"
                                                value="{{result.Profile.Profile3.fatherstatus}}">
                                            {{else}}
                                            <input class="disabled" type="text" name="fatherstatus" value="Update">
                                            {{/if}}

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="text-nowrap">Mother's Status:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div>
                                            {{#if result.Profile.Profile3.motherstatus}}
                                            <input class="disabled" type="text" name="motherstatus"
                                                value="{{result.Profile.Profile3.motherstatus}}">
                                            {{else}}
                                            <input class="disabled" type="text" name="motherstatus" value="Update">
                                            {{/if}}

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="text-nowrap">Family Location:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="text-nowrap">
                                            {{#if result.Profile.Profile3.familylocation}}
                                            <input class="disabled" type="text" name="familylocation"
                                                value="{{result.Profile.Profile3.familylocation}}">
                                            {{else}}
                                            <input class="disabled" type="text" name="familylocation"
                                                value="Not specified">
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="text-nowrap">Native Place:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="text-nowrap">
                                            {{#if result.Profile.Profile3.nativeplace}}
                                            <input class="disabled" type="text" name="nativeplace"
                                                value="{{result.Profile.Profile3.nativeplace}}">
                                            {{else}}
                                            <input class="disabled" type="text" name="nativeplace"
                                                value="Not specified">
                                            {{/if}}

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="text-nowrap">No. of Siblings:</label>
                                    </div>
                                    <div class="col-md-8">
                                        {{#if result.Profile.Profile3.siblings}}
                                        <div><input class="disabled" type="text" name="siblings"
                                                value="{{result.Profile.Profile3.siblings}}"></div>
                                        {{else}}
                                        <div><input class="disabled" type="text" name="siblings" value="Update"></div>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 flex-nowrap">
                                <div class="row">
                                    <div class="col-md-5">
                                        <label>Family Status:</label>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="text-nowrap"><input class="disabled" type="text" name="status"
                                                value="{{result.Profile.Profile2.family.status}}" required></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <label class="text-nowrap">Family Type:</label>
                                    </div>
                                    <div class="col-md-7 ">
                                        <div class="text-nowrap"><input class="disabled" type="text" name="type"
                                                value="{{result.Profile.Profile2.family.type}}" required></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <label class="text-nowrap">Family Values:</label>
                                    </div>
                                    <div class="col-md-7">
                                        {{#if result.Profile.Profile3.familyvalues}}
                                        <div><input class="disabled" type="text" name="familyvalues"
                                                value="{{result.Profile.Profile3.familyvalues}}">
                                        </div>
                                        {{else}}
                                        <div><input class="disabled" type="text" name="familyvalues" value="Update">
                                        </div>
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- Education-details  --}}
                    <div class="col-md-12">

                        <div class=" row ">
                            <h6 class="mt-2 pl-3 ">Education &amp; Career
                                <hr>
                            </h6>
                        </div>
                        <div class="row ">
                            <div class="col-md-6 flex-nowrap">
                                <div class="row ">
                                    <div class="col-md-4">
                                        <label class="text-nowrap">Education:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="text-nowrap"><input class="disabled" type="text"
                                                name="educationlevel"
                                                value="{{result.Profile.Profile3.education.educationlevel}}"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="text-nowrap">Working Sector:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="text-nowrap">
                                            {{#if result.Profile.Profile3.workingsector}}
                                            <input class="disabled" name="workingsector" type="text"
                                                value="{{result.Profile.Profile3.workingsector}}">
                                            {{else}}
                                            <input class="disabled" name="workingsector" type="text"
                                                value="Not specified">
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="text-nowrap">Profession:</label>
                                    </div>
                                    <div class="col-md-8">
                                        {{#if result.Profile.Profile3.profession}}
                                        <div><input class="disabled" type="text" name="profession"
                                                value="{{result.Profile.Profile3.profession}}"></div>
                                        {{else}}
                                        <div><input class="disabled" type="text" name="profession" value="Update"></div>
                                        {{/if}}
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6 flex-nowrap">


                                <div class="row">
                                    <div class="col-md-5">
                                        <label class="text-nowrap">Employer:</label>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="text-nowrap"><input class="disabled" type="text" name="employer"
                                                value="{{result.Profile.Profile3.education.employer}}" required></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <label class="text-nowrap">Annual Income:</label>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="text-nowrap"> <input class="disabled" type="text" name="salary"
                                                value="{{result.Profile.Profile3.education.salary}}" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- Hobbies --}}
                    <div class="col-md-12">

                        <div class=" row ">
                            <h6 class="mt-2 pl-3 ">Hobbies, Interests &amp; More
                                <hr>
                            </h6>
                        </div>
                        <div class="row ">
                            <div class="col-md-6 flex-nowrap">
                                <div class="row ">
                                    <div class="col-md-4">
                                        <label class="text-nowrap">Hobbies:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="text-nowrap"><input class="disabled" type="text" name="hobbies"
                                                value="{{result.Profile.Profile3.hobbies}}" required></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="text-nowrap">Interests:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div>
                                            {{#if result.Profile.Profile3.interests }}
                                            <input class="disabled" type="text" name="interests"
                                                value="{{result.Profile.Profile3.interests}}">
                                            {{else}}
                                            <input class="disabled" type="text" name="interests" value="update">
                                            {{/if}}
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="text-nowrap">Favourite Music:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="text-nowrap">
                                            {{#if result.Profile.Profile3.favoritemusic }}
                                            <input class="disabled" type="text" name="favoritemusic"
                                                value="{{result.Profile.Profile3.favoritemusic}}">
                                            {{else}}
                                            <input class="disabled" type="text" name="favoritemusic"
                                                value="Not specified">
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="text-nowrap">Favourite Reads:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="text-nowrap">
                                            {{#if result.Profile.Profile3.favoritereads }}
                                            <input class="disabled" type="text" name="favoritereads"
                                                value="{{result.Profile.Profile3.favoritereads}}">
                                            {{else}}
                                            <input class="disabled" type="text" name="favoritereads"
                                                value="Not specified">
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="text-nowrap">Preferred Movies:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="text-nowrap">
                                            {{#if result.Profile.Profile3.preferredmovies }}
                                            <input class="disabled" type="text" name="preferredmovies"
                                                value="{{result.Profile.Profile3.preferredmovies}}">
                                            {{else}}
                                            <input class="disabled" type="text" name="preferredmovies"
                                                value="Not specified">
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6 flex-nowrap">

                                <div class="row">
                                    <div class="col-md-5">
                                        <label>Sports/Fitness Activities:</label>
                                    </div>
                                    <div class="col-md-7">
                                        <div>
                                            {{#if result.Profile.Profile3.sportactivities }}
                                            <input type="text" class="disabled" name="sportactivities"
                                                value="{{result.Profile.Profile3.sportactivities }}">
                                            {{else}}
                                            <input class="disabled" type="text" name="sportactivities"
                                                value="Not specified">
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <label class="text-nowrap">Favourite Cuisines:</label>
                                    </div>
                                    <div class="col-md-7">
                                        {{#if result.Profile.Profile3.favcuisines}}
                                        <div class="text-nowrap"><input class="disabled" type="text" name="favcuisines"
                                                value="{{result.Profile.Profile3.favcuisines}}"></div>
                                        {{else}}
                                        <div class="text-nowrap"></div><input class="disabled" type="text"
                                            name="favcuisines" value="Not Specified"></div>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
                {{!-- Partner Preference --}}
                <div class="tab-pane" id="partnerPreference">
                    <div class="col-md-12">
                        <div class=" row">
                            <h6 class="mt-2 ">Basic Information
                                <hr>
                            </h6>
                        </div>
                        <div class="row">
                            <div class="col-md-6 flex-nowrap mt-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Age:</label>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="text-nowrap">{{result.Userpref.minage}}-{{result.Userpref.maxage}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Height:</label>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="text-nowrap">{{result.Userpref.height}}</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="text-nowrap">Marital Status:</label>
                                    </div>
                                    <div class="col-md-4 ">
                                        <div class="text-nowrap text-capitalize">{{result.Userpref.maritialstatus}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="text-nowrap">Diet:</label>
                                    </div>
                                    <div class="col-md-4 ">
                                        <div class="text-nowrap">{{result.Userpref.diet}}</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    {{!-- location details --}}
                    <div class="col-md-12">
                        <div class=" row px-3">
                            <h6 class="mt-2 ">Location details
                                <hr>
                            </h6>
                        </div>
                        <div class="row">
                            <div class="col-md-6 flex-nowrap mt-4">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Country living in:</label>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="text-nowrap">{{result.Userpref.location.country}}</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>State living in:</label>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="text-nowrap">{{result.Userpref.location.state}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 flex-nowrap mt-4">
                                <div class="row ">
                                    <div class="col-md-5">
                                        <label>City / District:</label>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="text-nowrap">{{result.Userpref.location.city}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {{!-- Education --}}
                        <div class="col-md-12">
                            <div class=" row px-3">
                                <h6 class="mt-2 ">Education &amp; Career
                                    <hr>
                                </h6>
                            </div>
                            <div class="row">
                                <div class="col-md-6 flex-nowrap mt-4">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Education:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="text-nowrap text-capitalize">
                                                {{result.Userpref.education.educationlevel}}</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Working with:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="text-nowrap">{{result.Userpref.education.workingwith}}</div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6 flex-nowrap mt-4">

                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Salary:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="text-nowrap">{{result.Userpref.education.salary}} LPA</div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Employer</label>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="text-nowrap">{{result.Userpref.education.employer}}</div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

</body>


{{!-- bootstrap scripts --}}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
<script src="../js/profile.js"></script>

</html>